.dinning_img_main {
  width: 100%;
  height: auto;
}
.dinning_row {
    display: flex;
  flex-direction: row;
}

.dinning_1 {
  flex: 3;
  border: 1px solid linen;
  display: grid;
  grid-template-columns: auto auto auto;
}

.box {
  font-size: 30px;
    display: flex;
  justify-content: flex-start;
  text-align: center;
}
.box_img img {
  height: 125px;
  width: 120px;
}
.dinning_2 {
  flex: 1;
}
.dinning_2 img {
  margin-left: 30px;
}

.box_dinning_data {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .dinning_row {
      display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dinning_1 {
    flex: 2;
  }
  .box_img img {
    height: 90px;
    width: 80px;
  }
  .box_dinning_data {
    font-size: 10px;
  }
  .dining_media {
    flex-direction: column;
    align-items: flex-start;
  }
  .dining_btn:hover {
  }
}

@media screen and (min-width: 600px) and (max-width: 860px) {
  .dinning_row {
      display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dinning_1 {
    flex: 2;
  }
  .box_img img {
    height: 90px;
    width: 80px;
  }
  .box_dinning_data {
    font-size: 10px;
  }
  .dining_media {
    flex-direction: column;
    align-items: flex-start;
  }
}
