.outdoor_filter_home {
  width: 380px;
    display: flex;
  justify-content: space-between;
}
.outdoor_filter_home span {
  padding: 4px;
  margin: 1px;
  width: auto;
  height: 20px;
  border: 1px solid #369599;
  color: #369599;
    display: flex;
  align-items: center;
}
