.banner_slide {
  display: flex !important;
  /* flex-direction: column; */
  justify-content: center;
  background: #f2f3f7;
  padding: 10px;
}
.containerr {
  /* border: 0.5px solid pink; */
  width: 90%;
  position: relative;
}

.white {
  background-color: white;
}
.box1 {
  flex: 1;
  cursor: pointer;
  color: #1e1e1e;
  border-bottom: 1px solid #e5e5e5;
  letter-spacing: 0.02em;
}
.box1 h2 {
  font-size: calc(1.325rem + 0.09vw);
}
.ul_Lists {
  /* display: block; */
  width: 100%;
  height: auto;
  border-top: none;
  padding: 0;
  /* position: relative; */
  left: 0;
}
ul {
  word-wrap: break-word;
  color: #9e9e9e;
}
ul li {
  /* 
  display: flex !important;
  align-items: center;
  font-size: 12px;
  border-bottom: 0.5px solid #f2f3f7; */
}
.li_list {
  height: 40px;
  width: 90%;
  border-bottom: 1px solid #d3d3d3;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.br_List1 {
}
.hover_categories {
  /* margin: 10px; */

  /* small screen */
  /* width: 35vw;
  height: 20vh;
  left: 26vh;
  top: 7vh; */

  width: 35vw;
  height: 25vh;
  left: 20vw;
  transition: all 1.5s ease;
  position: absolute;
  z-index: 9999;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.box2 {
  flex: 2;
  margin: 2px;
  position: relative;
}
.box2_over {
  position: absolute;
  top: 0px;
  padding: 30px;
  z-index: 99;
}

.box2_over h2 {
  color: #369599;
  font-size: 45px;
}
.box2_over button {
  background-color: black;
  width: 100px;
  height: 35px;
  color: white;
}
.box3 {
  flex: 1;
  margin: 2px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}
.box3 img {
  margin-bottom: 10px;
  object-fit: fill;
}
.imgg {
  width: 100%;
  object-fit: fill;
  height: 380px !important;
}

.statistics {
  width: 100%;
  display: flex !important;
  margin: 40px 0px;
  font-size: 13px;
}
.flex2 {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.inactive {
  display: none;
}
.flex {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
